<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- css -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div id="app">

        <div id="container">

            <div class="left-section">

                <div class="header-left">

                    <div class="header-left-user">
                        <img src="img/avatar_io.jpg" alt="user-avatar">
                        <span>Sofia</span>
                    </div>

                    <div class="header-left-icons">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>

                </div>

                <div class="notifications">

                    <div class="notifications-icon">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>

                    <div class="notifications-text">
                        <div>Ricevi notifiche di nuovi messaggi</div>
                        <a href="#">Attiva notifiche desktop</a>
                    </div>

                </div>

                <div class="search-bar">

                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input v-model="searchText" @keyup="searchName" type="text" placeholder="Cerca o inizia una nuova chat">

                </div>

                <div class="chats">

                    <div class="chat" v-for="(contact,index) in contacts" v-show="contact.visible" @click="changeActiveChat(index)" :class="index == activeChatIndex ? 'active' : ''">

                        <img :src="contact.avatar" :alt="contact.name">

                        <div class="chat-info">

                            <div>
                                <div>{{ contact.name }}</div>
                                <div class="small">{{ contact.messages[contact.messages.length - 1].message }}</div>
                            </div>
                            
                            <div class="small">
                                {{ changeDateFormat(contact.messages[contact.messages.length - 1].date) }} 
                            </div>
                            
                        </div>

                    </div>

                </div>

            </div>

            <div class="right-section">

                <div class="header-right">

                    <div class="header-right-user">

                        <img :src="contacts[activeChatIndex].avatar" :alt="contacts[activeChatIndex].name">

                        <div>
                            <div>
                                {{ contacts[activeChatIndex].name }}
                            </div>
                            <div class="small">
                                <!-- DA MODIFICARE -->
                                Ultimo accesso oggi alle {{ getLastAccess() }}
                                <!-- // -->
                            </div>
                        </div>

                    </div>

                    <div class="header-right-icons">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>

                </div>

                <div class="messages">

                    <div v-for="msg in contacts[activeChatIndex].messages" class="message" :class="msg.status">
                        <div> {{msg.message}} </div>
                        <div class="date"> {{changeDateFormat(msg.date)}} </div>
                    </div>

                </div>

                <div class="footer">

                    <div class="footer-icon-left">
                        <i class="fa-regular fa-face-smile"></i>
                    </div>

                    <input type="text" v-model="newMsg" @keyup.enter="sendMessage" placeholder="Scrivi un messaggio">

                    <div class="footer-icon-right">
                        <i class="fa-solid fa-microphone"></i>
                    </div>


                </div>

            </div>

        </div>

    </div>

    <!-- vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- luxon -->
    <script src="https://cdn.jsdelivr.net/npm/luxon@2.3.0/build/global/luxon.min.js"></script>
    <!-- js script -->
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>